*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
:root {
--black: black;
--white:white;
}

body{
width: 100%;
max-width: 100vw;
font-size: clamp(16px, 1.5rem, 3em);
margin: auto;
display: grid;
place-items: center;
border-radius: 10px;
}
#header{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #141414;
    border: 2px solid orange;
}
.logo-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.logo-name h1 {
    color: orange;
    }
.logo {
    border-radius: 50%;
    padding: 10px 10px;
    border: 2px solid orange;
}
#nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:x-large;
    justify-content: center;
    justify-content: space-around;
    font-weight: 600;
    padding: 0 20px;
 
}
 #nav a {
        color: var(--white);
        text-decoration: none;
    }
#hero {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}
.hero-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: red;
}
.hero-bild {
   object-fit: cover;
   width: 360px;
   height: auto;
}
#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fbf8f8;
    width: 100%;
    padding: 50px 10px;
    border: 2px solid rgb(11, 11, 10);

.nyheter1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;   
    float: right;
    border: 2px solid black;

}
}
button {
    background-color: red;
    color: var(--white);
    width: 100px;
    height: 30px;
    border: none;
}
#main-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fbf8f8;
    width: 100%;
    padding: 50px 10px;
    border: 2px solid black;
}
#main-top .nyheter2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;   
    float: right;
    border: 2px solid black;
}

.news {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    border: 2px solid black;  
    border-radius: 15px;
    margin: 20px; 
    background-color: white;  

}
.slides {
  display: flex;  
  flex-direction: row;
  animation: slideanimation 9s linear infinite;
}

@keyframes slideanimation {
    from {transform: translateX(100%) } /*right*/
    to{transform: translatex(-100%); } /*left for att (-) */
}
#footer{
    display: flex;
    width: 100%;
    padding: 10px;
    flex-direction: row;
    background-color: black;
    color: var(--white);
    justify-content: center;
}

@media screen and (max-width: 600px) {
   
    body {
       grid-template-columns: 1fr;
       grid-template-rows: auto;
       width: 100%;
       max-width: 100vw;
  }
  #header, #hero, #main, #main-top, .nyheter1, .nyheter2, .news {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
  }
    
}
@media screen and (min-width: 601px) and (max-width:900px) {

  body {
       grid-template-columns: 1fr;
       grid-template-rows: auto;
       width: 100%;
       max-width: 100vw;
       place-items: stretch;
  }
   #header, #hero, #main, #main-top, .nyheter1, .nyheter2, .news {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      text-align: center;
  }
}
@media screen and (min-width: 901px) {
   
    body {
     display: grid;
     place-items: center;
     border-radius: 10px;
  }
     #header, #hero, #main, #main-top, .nyheter1, .nyheter2, .news {
    display: flex;
    flex-direction: row;
  }
  }

